@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

:root{
	--album-size: 30vw;
	--player-size: 40vw;
}

@media screen and (min-width: 1200px) {
    :root {
        --album-size: 15vw;
		--player-size: 43vw;
    }
}

$black: #0D0D0D;
$darkerGrey: #262626;
$grey: #737373;
$lightGrey: #A6A6A6;
$lighterGrey: #D9D9D9;
$red: #73020C;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

/**************BASE**************/
* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body{
	margin: 0;
	padding: 70px 20px 200px;
	background-color: $darkerGrey;
	font-family: 'roboto';
	color: $lighterGrey;
	font-size: 1rem;
}

img{
	width: 100%;
}

h1 {
	text-align: center;
}

h2 {
	margin: 20px 0 0;
}

a {
	text-decoration: none;
	color: $lighterGrey;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

table {
	text-align: center;
	width: 100%;
}

.random.active, .repeat.active {
	color: $darkerGrey;
}

/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: $lighterGrey;
    font-family: sans-serif;
    font-size: 1rem;
	font-weight: bold;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

button:hover,
button:focus {
    background: transparent;
}

button:focus {
    outline: none;
}
/* Button styles end */

/**************MOBILE**************/

.hidden-sm{
	display: none;
}

.form{
	display: flex;
    flex-direction: column;
    align-items: baseline;
}

.admin{
	img{
		width: 90px;
	}

	label{
		display: flex;
    	flex-direction: column;
	}

	input, select{
		height: 30px;
	}

	input[type=submit]{
		width: 50%;
	}
}

nav {
	width: 100%;
	height: 50px;
	background-color: $black;
	position: fixed;
	bottom: 0;
	left: 0;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 9999;

	& > ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 66.66%;
	}

	div.userSearch {
		width: 33.33%;
		display: flex;
		justify-content: space-around;
		
		input {
			position: absolute;
			bottom: -30px;
			height: 30px;
			width: 80%;
			left: 10%;
			transition: bottom 0.2s ease-in;
		}

		&.active {
			label {
				color: $red;
			}

			input {
				bottom: 70px;
			}
		}
	}

	.homeCTA{
		text-align: center;
		width: 50%;
	}

	.playlistsContainer {
		text-align: center;
		width: 50%;
		&.active {
			button {
				color: $red;
			}

			.playlists{
				bottom: 50px;
			}
		}
	}

	.playlists {
		position: absolute;
		bottom: -100px;
		left: 0;
		background-color: $black;
		transition: bottom 0.2s ease-in;
		padding: 10px 10px 0 10px;
		width: 33%;

		li {
			margin-bottom: 10px;
		}
	}

	.navTop {
		padding: 10px 20px;
		display: flex;
		justify-content: start;
		align-items: center;
		position: fixed;
    	top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background-color: $black;
		transition: top 0.2s ease-in;

		&.moveTop {
			top: -50px;
		}

		.accountContainer.active {
			button {
				color: $red;
			}

			.account {
				top: 50px;
			}
		}

		.account {
			position: absolute;
			top: -200px;
			left: 0;
			width: 33%;
			padding: 0 10px 10px 20px;
			background-color: $black;
			transition: top 0.3s ease-in;

			.admin {
				margin-top: 10px;

				li {
					margin-top: 10px;
					margin-left: 10px;
				}
			}
		}
	}
}

.searchResult{
	padding-bottom: 50px;
}

.albumMini, .artistMini, .trackMini {
	border-radius: 25px;
	padding: 10px;
	overflow: hidden;
	background-color: $grey;
	box-shadow: 6px 6px 9px #0d0d0d;
	margin: 20px 0;

	img {
		border-radius: 12.5px;
		object-fit: cover;
	}

	p {
		margin-top: 10px;
		margin-bottom: 0;
		margin-left: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&:first-of-type{
			font-weight: bold;
			font-size: 20px;
		}
		&:last-of-type{
			color: $red;
		}
	}
}

.trackMini {
	& > div {
		display: flex;
		flex-wrap: wrap;
	}

	p {
		width: 100%;
		&:last-of-type{
			width: 60%;
		}
	}

	.menuContainer{
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
		}

		&.active {
			ul {
				padding: 10px;
				top: 19px;
				left: 0;
				bottom: 0;
				bottom: 19px;
				border-radius: 25px;
				background-color: $black;
				display: block;
			}
		}

		ul{
			position: absolute;
			display: none;
			li {
				margin-top: 15px;
			}
		}
	}
}

.artist, .album {
	 .buttons{
		margin: 10px 0;
		display: flex;
		justify-content: space-around;

	 }
}

.playerBar{
	position: fixed;
	bottom: 70px;
	z-index: 9990;
	background-color: #73020bad;
	border-radius: 20px;
	width: 90%;
	padding: 10px;

	p {
		font-size: 14px;
		margin: 0;
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		&.hidden-sm{
			display: none;
		}
	}

	.trackInfos > div {
		margin: 5px;
		display: flex;

		div:last-of-type{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
	}

	img{
		width: 50px;
		margin-right: 15px;
	}

	.timers {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.durationBar {
			display: block;
			position: relative;
			width: 70%;
			height: 10px;
			border: solid 1px $lighterGrey;
	
			.currentDurationBar{
				height: 100%;
				background-color: $lighterGrey;
				position: absolute;
				display: inline-block;
			}
		}
	}
}

/**************DESKTOP**************/

@media screen and (min-width: 1024px) {

	#root{
		display: flex;
		flex-wrap: wrap;
	}

	.container{
		width: 90%;
		margin-left: 10%;
	}

	table {
		text-align: center;
		width: 80%;
	}

	nav {
		width: 10%;
		left: 0;
		top: 0;
		bottom: 0;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		padding: 50px 20px 0;

		& > ul {
			width: 100%;
			flex-wrap: wrap;

		}
	
		div.userSearch {
			width: 100%;
			display: block;
			
			input {
				position: initial;
				width: 100%;
			}
	
			&.active {
				label {
					color: $lighterGrey;
				}
			}
		}

		.playlistsContainer{
			width: 100%;
			order: 1;
			text-align: start;
			margin-top: 15px;

			&.active{
				button {
					color: $lighterGrey;
					cursor: initial;
				}
			}

			.playlists {
				position: initial;
				width: 100%;
			}
		}

		.homeCTA {
			width: 100%;
			text-align: start;
		}
	
		.navTop {
			position: initial;
			padding: 0;
			height: auto;
			margin-top: 15px;
	
			.account {
				position: initial;
				cursor: initial;
				width: 100%;
				& > li {
					margin-top: 10px;
					cursor: pointer;
				}
			}
		}
	}

	.playerBar {
		bottom: 0;
		right: 0;
		border-radius: 0;

		.trackInfos{
			display: flex;
			justify-content: space-between;
		}

		.buttons{
			width: 30%;
			&.hidden-lg{
				display: none;
			}

			&.hidden-sm{
				display: flex;
			}
		}

		.timers {
			width: 40%;
			.durationBar{
				width: 80%;
			}
		}
	}
}