@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
:root {
  --album-size: 30vw;
  --player-size: 40vw;
}

@media screen and (min-width: 1200px) {
  :root {
    --album-size: 15vw;
    --player-size: 43vw;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

/**************BASE**************/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 70px 20px 200px;
  background-color: #262626;
  font-family: "roboto";
  color: #D9D9D9;
  font-size: 1rem;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  margin: 20px 0 0;
}

a {
  text-decoration: none;
  color: #D9D9D9;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

table {
  text-align: center;
  width: 100%;
}

.random.active, .repeat.active {
  color: #262626;
}

/* Buttons styles start */
button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #D9D9D9;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: none;
}

/* Button styles end */
/**************MOBILE**************/
.hidden-sm {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.admin img {
  width: 90px;
}
.admin label {
  display: flex;
  flex-direction: column;
}
.admin input, .admin select {
  height: 30px;
}
.admin input[type=submit] {
  width: 50%;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #0D0D0D;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66.66%;
}
nav div.userSearch {
  width: 33.33%;
  display: flex;
  justify-content: space-around;
}
nav div.userSearch input {
  position: absolute;
  bottom: -30px;
  height: 30px;
  width: 80%;
  left: 10%;
  transition: bottom 0.2s ease-in;
}
nav div.userSearch.active label {
  color: #73020C;
}
nav div.userSearch.active input {
  bottom: 70px;
}
nav .homeCTA {
  text-align: center;
  width: 50%;
}
nav .playlistsContainer {
  text-align: center;
  width: 50%;
}
nav .playlistsContainer.active button {
  color: #73020C;
}
nav .playlistsContainer.active .playlists {
  bottom: 50px;
}
nav .playlists {
  position: absolute;
  bottom: -100px;
  left: 0;
  background-color: #0D0D0D;
  transition: bottom 0.2s ease-in;
  padding: 10px 10px 0 10px;
  width: 33%;
}
nav .playlists li {
  margin-bottom: 10px;
}
nav .navTop {
  padding: 10px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #0D0D0D;
  transition: top 0.2s ease-in;
}
nav .navTop.moveTop {
  top: -50px;
}
nav .navTop .accountContainer.active button {
  color: #73020C;
}
nav .navTop .accountContainer.active .account {
  top: 50px;
}
nav .navTop .account {
  position: absolute;
  top: -200px;
  left: 0;
  width: 33%;
  padding: 0 10px 10px 20px;
  background-color: #0D0D0D;
  transition: top 0.3s ease-in;
}
nav .navTop .account .admin {
  margin-top: 10px;
}
nav .navTop .account .admin li {
  margin-top: 10px;
  margin-left: 10px;
}

.searchResult {
  padding-bottom: 50px;
}

.albumMini, .artistMini, .trackMini {
  border-radius: 25px;
  padding: 10px;
  overflow: hidden;
  background-color: #737373;
  box-shadow: 6px 6px 9px #0d0d0d;
  margin: 20px 0;
}
.albumMini img, .artistMini img, .trackMini img {
  border-radius: 12.5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.albumMini p, .artistMini p, .trackMini p {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.albumMini p:first-of-type, .artistMini p:first-of-type, .trackMini p:first-of-type {
  font-weight: bold;
  font-size: 20px;
}
.albumMini p:last-of-type, .artistMini p:last-of-type, .trackMini p:last-of-type {
  color: #73020C;
}

.trackMini > div {
  display: flex;
  flex-wrap: wrap;
}
.trackMini p {
  width: 100%;
}
.trackMini p:last-of-type {
  width: 60%;
}
.trackMini .menuContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trackMini .menuContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.trackMini .menuContainer.active ul {
  padding: 10px;
  top: 19px;
  left: 0;
  bottom: 0;
  bottom: 19px;
  border-radius: 25px;
  background-color: #0D0D0D;
  display: block;
}
.trackMini .menuContainer ul {
  position: absolute;
  display: none;
}
.trackMini .menuContainer ul li {
  margin-top: 15px;
}

.artist .buttons, .album .buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.playerBar {
  position: fixed;
  bottom: 70px;
  z-index: 9990;
  background-color: rgba(115, 2, 11, 0.6784313725);
  border-radius: 20px;
  width: 90%;
  padding: 10px;
}
.playerBar p {
  font-size: 14px;
  margin: 0;
}
.playerBar .buttons {
  display: flex;
  justify-content: space-around;
}
.playerBar .buttons.hidden-sm {
  display: none;
}
.playerBar .trackInfos > div {
  margin: 5px;
  display: flex;
}
.playerBar .trackInfos > div div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.playerBar img {
  width: 50px;
  margin-right: 15px;
}
.playerBar .timers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playerBar .timers .durationBar {
  display: block;
  position: relative;
  width: 70%;
  height: 10px;
  border: solid 1px #D9D9D9;
}
.playerBar .timers .durationBar .currentDurationBar {
  height: 100%;
  background-color: #D9D9D9;
  position: absolute;
  display: inline-block;
}

/**************DESKTOP**************/
@media screen and (min-width: 1024px) {
  #root {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    width: 90%;
    margin-left: 10%;
  }
  table {
    text-align: center;
    width: 80%;
  }
  nav {
    width: 10%;
    left: 0;
    top: 0;
    bottom: 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 50px 20px 0;
  }
  nav > ul {
    width: 100%;
    flex-wrap: wrap;
  }
  nav div.userSearch {
    width: 100%;
    display: block;
  }
  nav div.userSearch input {
    position: initial;
    width: 100%;
  }
  nav div.userSearch.active label {
    color: #D9D9D9;
  }
  nav .playlistsContainer {
    width: 100%;
    order: 1;
    text-align: start;
    margin-top: 15px;
  }
  nav .playlistsContainer.active button {
    color: #D9D9D9;
    cursor: initial;
  }
  nav .playlistsContainer .playlists {
    position: initial;
    width: 100%;
  }
  nav .homeCTA {
    width: 100%;
    text-align: start;
  }
  nav .navTop {
    position: initial;
    padding: 0;
    height: auto;
    margin-top: 15px;
  }
  nav .navTop .account {
    position: initial;
    cursor: initial;
    width: 100%;
  }
  nav .navTop .account > li {
    margin-top: 10px;
    cursor: pointer;
  }
  .playerBar {
    bottom: 0;
    right: 0;
    border-radius: 0;
  }
  .playerBar .trackInfos {
    display: flex;
    justify-content: space-between;
  }
  .playerBar .buttons {
    width: 30%;
  }
  .playerBar .buttons.hidden-lg {
    display: none;
  }
  .playerBar .buttons.hidden-sm {
    display: flex;
  }
  .playerBar .timers {
    width: 40%;
  }
  .playerBar .timers .durationBar {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */